HOST=0.0.0.0
PORT=8084


OPENAI_API_KEY=

# POSTGRES 정보
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=cho
POSTGRES_PASSWORD=hyeonsasng
POSTGRES_NAME=chohyeonsang

# Zipkin 설정
ZIPKIN_ENDPOINT=http://localhost:9411/api/v2/spans