HOST=0.0.0.0
PORT=8084


OPENAI_API_KEY=

# POSTGRES 정보
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=cho
POSTGRES_PASSWORD=hyeonsasng
POSTGRES_NAME=chohyeonsang

# Eureka 설정
EUREKA_SERVER=http://localhost:8761/eureka/
EUREKA_APP_NAME=service-ai
EUREKA_INSTANCE_HOST=localhost